<div class="right_col" role="main">
  <div class="row">
    <button class="fa fa-plus" data-toggle="modal" data-target="#create_pipeline">
  </div>
  <div class="row">
    <table id="dataTable" class="display" cellspacing="0" width="100%">
    	<thead>
        <tr>
        	<th class="id">ID</th>
          <th>Name</th>
          <th class="size-safe">Size Safe</th>
          <th>Description</th>
          <th class="action">Action</th>
        </tr>
       </thead>
      <tbody>
        <%= render partial: "pipeline", collection: @pipelines %>

      </tbody>
    </table>
  </div>
</div>
<%= render "create_form" %>
