.fa {
  cursor: pointer;
}

.button_action {
	width: 30px;
	height: 25px;
}

.background-login {
  background-image: url(world3.jpg);
  min-height: 576px;
  width: 100%;
}

.custom-letf-col {
  min-height: 0 !important;
}

.site_title i {
  padding: 14px !important;
}
